@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|La+Belle+Aurore');
//
//
$brightYellow: #e3b505;
$darkBrown: #bb9457;
$yellow: #f2b450;
$brown: #382923;
$black: #191919;
$grey: #a9b2ac;
//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
    background: linear-gradient(rgba(241, 237, 237, 0.85), rgba(245, 242, 242, 0.85)), url('./images/bricks-brickwall.jpg');
}

//global styles
.bell-fonts {
    font-family: 'La Belle Aurore', cursive;
}

//end of global styles
// ###################preloader###################
.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $brightYellow;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}

// #######################header####################
.height-90,
#header {
    min-height: calc(100vh - 94px);
}

@media screen and (max-width:768px) {
    .header {
        background: url(./images/coffee-3.jpg) center/cover fixed no-repeat;
    }
}

.banner {
    z-index: 3;
}

.banner_title {
    color: $brightYellow;
    font-size: 9rem;
}

.banner_social-icon {
    display: inline-block;
    text-decoration: none;
    color: $black;
    border: 2px solid $black;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s ease;
    &:hover {
        background: $brightYellow;
        color: $black;
    }
}

// ################video#################
.video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// #######################nav Btn#######################
.navBtn {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3.5rem;
    color: $brightYellow;
    cursor: pointer;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

// ###########nav animation ####################
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    //width: 10rem;
    background: rgba($color: $yellow, $alpha: 0.9);
    z-index: 3;
}

.nav_links {
    list-style-type: none;
}

.nav_single-link {
    display: block;
    color: $brown;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;
    &:hover {
        background: $brown;
        color: rgba($color: $yellow, $alpha: 0.9);
        padding-left: 1.5rem;
    }
}

// ####nav
.nav {
    width: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}

.nav-show {
    width: 10rem;
}

// #################video switch#################
.video_switch-container {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
}

.video_switch {
    position: relative;
    width: 5rem;
    background: $yellow;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.video_switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: $brown;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}

.btnSlide {
    left: 50%;
}

@media screen and (max-width: 768px) {
    .video_switch-container {
        display: none
    }
}